<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <% include ../partials/nav-home-title %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="btn btn-outline-success my-2 my-sm-0" class="nav-link dropdown-toggle" href="/provider/signup" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Signup
      </a>
      </li>
    </ul>
  </div>
</nav>
