<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <div class="container">
    <% include ./partials/header-index %>
      <div class="jumbotron">
        <center>
          <h1>JASAKU</h1>
          <p> - PairProject -
            <p>
        </center>
      </div>
  </div>
  <% include ./partials/script %>
    <footer>
      <% include ./partials/footer %>
    </footer>
</body>

</html>
